@tailwind base;
@tailwind components;
@tailwind utilities;


*,
html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff00ff;
  border-radius: 5px;
}
